{{> navigation}}
<section id="viewCatalog" class="background-img">
    <a href="#/flight/create" class="add-flight">Add Flight +</a>

    <div class="added-flights">

        {{#each flights}}
            {{> flight}}
        {{else}}
            <p>No flights in database.</p>
        {{/each}}
    </div>
</section>
{{> footer}}