<section id="viewLogin">
    <h2>Login to your account:</h2>
    <form id="formLogin" method="post" action="#/login">
        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter your Email" >
        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter your Password">
        <input type="submit" class="login" value="Login">
        <div class="container signin">
            <p>Still don't have an account?
                <a href="#/register" style="color:blue">Sign up</a>.</p>
        </div>
    </form>
</section>