<nav>
    {{#if isLogged}}
        <a class="active" href="#/carListings">Home</a>
        <a href="#/carListings">All Listings</a>
        <a href="#/myCarListings">My Listings</a>
        <a href="#/carListingCreate">Create Listing</a>
        <div id="profile">
            <a>Welcome {{username}}</a>
            <a href="#/logout">logout</a>
        </div>
    {{else}}
        <a class="active" href="#/home">Home</a>
    {{/if}}
</nav>