{{> navigation}}
<section id="viewMyFlights">
    <h3>Your Flights</h3>
    {{#each flights}}
        {{> singleMyFlight}}
    {{else}}
        <p>You haven't published a flight yet</p>
    {{/each}}
</section>
{{> footer}}